body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background: url(../imatges/bg.jpg);
}
.container {
  width: 965px;
  background-color: white;
  margin: auto;
  border-radius: 25px;
}

.slider {
  padding: 0px;
}
.header img {
  margin-left: 25px;
}

.menu li {
  display: inline-block;
}

.menu {
  float: right;
}
.top {
  margin: 30px;
}

.menu a {
  color: black;
  text-decoration: none;
  padding: 30px;
}

.menu a:hover {
  background-color: lightgray;
  color: white;
}

.col {
  width: 265px;
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  padding: 20px;
}

.col img:hover {
  transform: scale(1.1);
}

.col h2 {
  color: red;
}
.row {
  text-align: center;
}
.footer {
  overflow: hidden;
}

.footer a {
  color: black;
  text-decoration: none;
}

.footer span {
  float: left;
  margin-top: 20px;
  margin-left: 30px;
}
