body {
  font-size: 14px;
}
.container {
  width: 600px;
  border-radius: 15px;
}

.header img {
  content: url(../imatges/logodaw_small.jpg);
}

.slider {
  content: url(../imatges/slider_medium.png);
}

.col img {
  content: url(../imatges/col_img_small.jpg);
}

.top {
  margin: 15px;
}
.menu a {
  padding: 15px;
}

.col {
  width: 145px;
  padding: 15px;
}
.col h2 {
  font-size: 18px;
}
