.container {
  width: 200px;
  border-radius: 15px;
}
.header img {
  content: url(../imatges/logodaw_small.jpg);
}

.slider {
  content: url(../imatges/slider_small.png);
}

.col img {
  content: url(../imatges/col_img_small.jpg);
}

.menu li {
  display: block;
  margin: 0px;
  text-align: center;
}
.menu {
  float: none;
}

.menu a {
  display: block;
  padding: 10px;
  width: auto;
}
.top {
  margin: 0px;
  padding: 0px;
}
